<div class="logo">
	<!-- Logo --><a href="/en/index.html">Adgambas</a>
</div>

			<ul id="menu">
			  <li class="firstlevel"><a href="#">About us</a>
			    <ul class="active">
			      <li class="description"><a href="/en/news.html">News</a></li>
			      <li class="description"><a href="/en/history.html">History</a></li>
			      <li class="description"><a href="/en/creation.html">Creation</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Our dogs</a>
			    <ul class="active">
			      <li class="description"><a href="/en/janya.html">Janya</a></li>
			      <li class="description"><a href="/en/vamba.html">Vamba</a></li>
			      <li class="description"><a href="/en/fazana.html">Fazana</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Puppies</a>
			    <ul class="active">
			      <li class="description"><a href="/en/information.html">Information</a></li>
			      <li class="description"><a href="/en/note.html">Note to owner</a></li>
			      <li class="description"><a href="/en/docs.html">Docs</a></li>
			      <li class="description"><a href="/en/litters.html">Litters</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Useful</a>
			    <ul class="active">
			      <li class="description"><a href="/en/history-breed.html">History breed</a></li>
			      <li class="description"><a href="/en/advices.html">Advices</a></li>
			      <li class="description"><a href="/en/ambulance.html">Ambulance</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="#">Contacts</a>
			    <ul class="active">
			      <li class="description"><a href="/en/feedback.html">Feedback</a></li>
			      <li class="description"><a href="/en/friends.html">Friends</a></li>
			    </ul>
			  </li>
			  <li class="firstlevel"><a href="/en/index.html">Русская версия</a></li>
			</ul>

<div class="social">
	<a href="#"><img src="../template/img/facebook.png" alt=""></a>
	<a href="#"><img src="../template/img/twitter.png" alt=""></a>
</div>


