<div class="logo">
	<!-- Logo --><a href="index.html">Agambas</a>
</div>
<div class="logo">
	<!-- Logo --><a href="index.html">Аджамбас</a>
</div>
<ul>
	<li><a class="home" href="about.html">О нас</a></li>
	<li class="description">История</li>
	
	<li><a class="about" href="#about">Щенки</a></li>
	<li class="description">Информация</li>
	
	<li><a class="services" href="#services">Полезное</a></li>
	<li class="description">История породы</li>
	
	<li><a class="contact" href="#contact">Контакты</a></li>
	<li class="description">Обратная связь</li>
</ul>
<div class="social">
	<a href="#"><img src="template/img/facebook.png" alt=""></a>
	<a href="#"><img src="template/img/twitter.png" alt=""></a>
</div>


