<div class="slider-wrapper theme-default">
	<div id="slider" class="nivoSlider">
		<!-- Slider items here-->
		<a href="#"><img src="template/img/homeslides/slide-r3.jpg" alt="" title="Добро пожаловать на сайт монопородного питомника Аджамбас!"/></a>
		<a href="#"><img src="template/img/homeslides/slide-r2.jpg" alt="" title="На страницах нашего сайта вы узнаете как о собаках питомника, так и о родезийских риджбеках!"/></a>
		<a href="#"><img src="template/img/homeslides/slide-r1.jpg" alt="" title="Пишите нам! Мы всегда рады новым знакомствам!"/></a>
	</div>
	    <!-- Some shadow--><img src="template/img/shadow.png" alt="" class="shadowslider">					
</div>
