<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Питомник Аджамбас {{ page.title }}</title>
 {% include head.html %}
</head>
<body>
<div class="container-fluid fixed-top">
	<div class="row-fluid well">
			<div class="span11 offset1">
	  <div class="logo">
	  <!-- Logo --><a href="/index.html">AdgambaS kennel</a>
    </div>
    </div>
	</div>
</div>

<div class="container-fluid margin10">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav sidebar-nav-fixed">
         {% include menu.html %}
			</div>
		</div>
		
		<div class="span9">		
		<section id="about">
			<div class="hero-unittext">
				<h1>{{ page.title }}</h1>
				<h2>{{ page.description }}</h2>
			</div>

				       {{ content }}

			</section>
	</div><!--/.span9-->
    </div><!--/.row-fluid-->
</div><!--/.container-fluid-->
 {% include footer.html %}
</body>
</html>
