<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Питомник Аджамбас {{ page.title }}</title>
 {% include head.html %}
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav sidebar-nav-fixed">
         {% include menu.html %}
			</div>
		</div>	
		<div class="span9">		
			<section id="home">
			<div class="hero-unit">
        {% include slider.html %}
			</div>
			</section>
				<div class="span8">
       {{ content }}
				</div>
	</div><!--/.span9-->
    </div><!--/.row-fluid-->
</div><!--/.container-fluid-->
 {% include footer.html %}
</body>
</html>
